<div class="class-title">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-md-12 col-lg-8 col-xl-8 about">
				<h1 class="main"><%- title %></h1>
				<h2 class="sub"><%- subtitle %></h2>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-12 col-lg-4 col-xl-4 cta">
				<!-- TODO: Stripe link needs setting up. Also needs a partial where you can insert the Stripe code for each class page. -->
				<a href="#" class="buy-button incl-price button"><span class="text">Buy the Course</span> <span class="price"><%- buttonPrice %></span></a>
				<a href="#" data-toggle="modal" data-target=".drip-modal" class="try-button button">Try it for Free</a>
			</div>
		</div>
	</div>
</div>