<div class="class-title">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-10 col-lg-8 about">
				<h1 class="main"><%- title %></h1>
				<h2 class="sub"><%- subtitle %></h2>
			</div>
			<div class="col-sm-12 col-md-5 col-lg-4 cta -one-button">
				<a href="#" data-toggle="modal" data-target=".drip-modal" class="buy-button incl-price button"><span class="text">Sign Up</span> <span class="price"><%- buttonPrice %></span></a>
				<span class="info">Sign up to get notified for the next course.</span>
			</div>
		</div>
	</div>
</div>