<div class="email-footer">
	<div class="container">
		<h2 class="email"><strong>Questions or comments about SpaceDojo?</strong><br> Please reach out to me directly at <a href="mailto:josh@spacedojo.com">josh@spacedojo.com</a>.</h2>
	</div>
</div>

<footer>
  <div class="container">
  	<div class="row footer-content">
  		<div class="col-xs-8 col-xs-offset-2 col-sm-2 col-sm-offset-3 text-center">
  			<span>Support us on</span>
  			<a href="#"><img src="/static/images/patreon.png" class="grayscale-img patreon"></a>
  		</div>
  		<div class="col-xs-8 col-xs-offset-2 col-sm-2 col-sm-offset-0 text-center">
  			<span>Join us in</span>
  			<a href="#"><img src="/static/images/slack.png" class="grayscale-img slack"></a>
  		</div>
  		<div class="col-xs-8 col-xs-offset-2 col-sm-2 col-sm-offset-0 text-center">
  			<span>Get news at</span>
  			<a href="#"><img src="/static/images/crater.png" class="grayscale-img"></a>
  		</div>
  	</div>

  	<div class="text-center copyright">
      <p>&copy; SpaceDojo &amp; Fourbeansoup, LLC 2015.</p>
    </div>
  </div>
</footer>

<script src="//code.jquery.com/jquery.min.js"></script>
<script src="static/js/main.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>