<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-reveal">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>

  <a class="navbar-brand" href="/">
    <img alt="logo" src="/static/images/logo3.png" class="logo">
  </a>
</div>

<div class="collapse navbar-collapse" id="navbar-reveal">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/classes">Classes &amp; Tutorials</a></li>
      <li><a href="/services">Services &amp; Consulting</a></li>
      <li><a href="https://thoughts.spacedojo.com/">Blog</a></li>
      <li><a href="https://www.patreon.com/meteorclub?ty=c">Community</a></li>
    </ul>
</div>