<%- partial("../partials/_buy-try-header", { 
	title: '8 Days of Meteor', 
	subtitle: 'Stop dabbling and truly learn Meteor in 8 days.',
	buttonPrice: '$15+',
	linkTo: '#purchase-scroll'
}) %>

<%- partial("../partials/_drip-form-email-name", {
	dripActionURL: 'https://www.getdrip.com/forms/5083447/submissions',
	dripHeadline: 'Not sure about 8 days of Meteor? Try the first lesson free.',
	buttonText: 'Try it now!'
}) %>



<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
			<div class="class-section">
			  <p>You’re interested in building a web or mobile app with Meteor... but you aren't sure where to start. Perhaps you have looked over all the books, watched a few demo videos, skimmed several blog posts, and so on. But you still aren't certain on how to put into practice everything you have acquired to building an actual app!</p>

				<h3>It can be difficult knowing where to begin.</h3>
				<p>Should you copy code from a book and attempt to get it running? But, really, what is gained when you do that? <strong>Instead of fumbling around with trial and error, let's build a Meteor app together through a series of exercises delivered right to your inbox.</strong></p>

				<div class="try-button-block">
					<a href="#" data-toggle="modal" data-target=".drip-modal" class="med-button button">Try it for free!</a>
				</div>
			</div>

			<div class="class-section">
				<h3>What happens when you join?</h3>
				<p>After joining, you will receive a daily email for 8 days. Each message will outline a particular area of the app as well as demonstrate how each feature should work. Moreover, every email will include the following items:</p> 

				<div class="row media-row">
				  <div class="col-sm-4">
				      <img class="media-object" src="/static/images/email.png" alt="...">
				  </div>
				  <div class="col-sm-8">
				    <h4 class="media-heading">A Topic-Focused Lesson</h4>
				    <p>Enjoy guided topics that have been picked to specifically help you build a working application, brick by brick. Each lesson comes with a small bit of explanation and links to the relevent bits of the meteor docs. I firmly believe that the road to being a top developer is learning where to find docs and how to read them.</p>
				  </div>
				</div>

				<div class="row media-row">
				  <div class="col-sm-4">
				      <img class="media-object" src="/static/images/stories.png" alt="...">
				  </div>
				  <div class="col-sm-8">
				    <h4 class="media-heading">A User Story</h4>
				    <p>A user story is a small sentence that explains what a feature should do for a user with a particular focus on the why. When a developer knows the ultimate goal for a feature, it helps them know the long term vision to hopefully architect the best solution.</p>
				  </div>
				</div>

				<div class="row media-row">
				  <div class="col-sm-4">
				      <img class="media-object" src="/static/images/goals.png" alt="...">
				  </div>
				  <div class="col-sm-8">
				    <h4 class="media-heading">Goals For Building The App</h4>
				    <p>Each email comes with specific goals to direct you in building the functional app. Most lessons come with 3 goals and an extra credit goal or two.</p>
				  </div>
				</div>

				<div class="row media-row">
				  <div class="col-sm-4">
				      <img class="media-object" src="/static/images/link.png" alt="...">
				  </div>
				  <div class="col-sm-8">
				    <h4 class="media-heading">Links to Similar Code in Open Source Meteor Apps</h4>
				    <p>One of the best ways to learn how to code is to read code others have written. As you read and gain knowledge about the code, you start to get insight into the why and how behind the code. This is also a great way to pick up concepts and ideas that might be new.</p>
				  </div>
				</div>

				<div class="row media-row">
				  <div class="col-sm-4">
				      <img class="media-object" src="/static/images/chat.png" alt="...">
				  </div>
				  <div class="col-sm-8">
				    <h4 class="media-heading">A Place to Comment and Discuss with Others</h4>
				    <p>Who doesn't want a place to turn for help when you need it? Maybe you are proud of what you just wrote? Each email will include a link to a discussion spot.</p>
				  </div>
				</div>

				<div class="row media-row">
				  <div class="col-sm-4">
				      <img class="media-object" src="/static/images/code.png" alt="...">
				  </div>
				  <div class="col-sm-8">
				    <h4 class="media-heading">Examples of Completed Code (Code &amp; Video Package Only)</h4>
				    <p>Stuck? Want to see an example of working code that solves the goals? The Code or Video package comes with a zip file that contains a Git repo with working code, including goals and extra credit work.</p>
				  </div>
				</div>

				<div class="row media-row">
				  <div class="col-sm-4">
				      <img class="media-object" src="/static/images/video.png" alt="...">
				  </div>
				  <div class="col-sm-8">
				    <h4 class="media-heading">Video Tutorials Explaining How &amp; Why (Video Package Only)</h4>
				    <p>Want to get deeper and understand the why and how of using Meteor to build this app? The video package comes with a video for each day, where I talk through how I am building the app as I write the code on-screen.</p>
				  </div>
				</div>

				<p>Ultimately, the goal is to give you the tools necessary to learn hands-on by applying the lessons to building a Meteor app. This course will take you from being a Meteor beginner to a Junior developer!</p>

				<div id="purchase-scroll"></div>
				<!-- PRICING TABLE -->
				<%- partial("../partials/_purchase-tiers", {
					buyFreq: ' one time', // or '/mo' or '/yr' etc. applies to all tiers

					/* TIER ONE */
					tierOne: 'Basic',
					tierOneDescription: 'Just the basic email course with no extras.', // I recommend keeping descriptions under 52 characters.
					tierOneBuyLink: '#', // link this to a gumroad modal or something?
					tierOnePrice: '$15',
					tierOneIncluded: [
														'8 days of email'
													 ],
					tierOneExcluded: [
														'A codebase of solutions', 
														'Videos of building the app'
													 ],
					
					/* TIER TWO */
					tierTwo: 'Code',
					tierTwoDescription: 'Get an entire codebase to browse and review.',
					tierTwoBuyLink: '#', // link this to a gumroad modal or something?
					tierTwoPrice: '$35',
					tierTwoIncluded: [
														'8 days of email', 
														'A codebase of solutions'
													 ],
					tierTwoExcluded: [
														'Videos of building the app'
													 ],
					
					/* TIER THREE */
					tierThree: 'Video',
					tierThreeDescription: 'Get comprehensive videos along with everything else.',
					tierThreeBuyLink: '#', // link this to a gumroad modal or something?
					tierThreePrice: '$75',
					tierThreeIncluded: [
															'8 days of email', 
															'A codebase of solutions', 
															'Videos of building the app'
														 ],
				}) %>
			</div>
		</div>


		<!-- ///////////////////////////////////////////////// -->
		<!-- SIDEBAR -->
		<div class="class-sidebar col-sm-12 col-md-12 col-lg-4 col-xl-4">
			<div class="class-information">
				<span class="title">Table of Contents</span>
				<ul class="toc">
					<li>Starting and Structuring Your Meteor App</li>
					<li>Logging in with User Accounts</li>
					<li>Saving Data with Collections and MongoDB</li>
					<li>Controlling Data on the Page with Templates &amp; Spacebars</li>
					<li>Routing Pages with Iron Router</li>
					<li>Handling HTML Input with Meteor Events</li>
					<li>Putting Data on the Page with Pub/Sub and Meteor</li>
					<li>Using Meteor Methods &amp; Sending Emails</li>
				</ul>
			</div>

			<div class="about-teacher well">
				<div class="info">
					<img src="/static/images/josh.jpg" class="teacher">
					<span class="name">Josh Owens</span>
					<span class="twitter"><a href="http://twitter.com/joshowens">@joshowens</a></span>
				</div>
				<!-- <hr> -->
				<p class="about">I'm the proprietor of Crater.io, host of Crater Podcast, and open source czar that helped create over 10 Meteor packages and 40 apps in 12 months. When I'm not writing, podcasting, or teaching then you can find me running the Cincinnati Meteor meetup or helping people out over Airpair.</p>
			</div>
		</div>
	</div>
</div>