<%- partial("../partials/_buy-try-header", { 
	title: 'Mastering Meteor', 
	subtitle: 'Learn how to create killer Meteor web apps.',
	buttonPrice: '$199'
}) %>

<%- partial("../partials/_drip-form-email-name", {
	dripActionURL: 'https://www.getdrip.com/forms/4373964/submissions',
	dripHeadline: 'Get a free lesson of Mastering Meteor now!',
	buttonText: 'Sign Up'
}) %>


<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
			<div class="class-section">
				<h3>The Meteor framework is one of a kind.</h3>
				<p>If you're anything like me, you felt instantly hooked the first time experimenting with Meteor.js. It's easy to build basic blog or to-do list applications with all the free resources online. But where do you go after that, <strong>when you want to start making serious applications?</strong></p>

				<p>What's really special about this class is that it's not heavily scripted or a contrived example app. It's was recorded live. It's real. Just like <em>real life</em> application development.</p>

				<div class="try-button-block">
					<a href="#" data-toggle="modal" data-target=".drip-modal" class="med-button button">Try a free lesson!</a>
				</div>
			</div>

			<div class="class-section">
				<h3>There's a lack of intermediate and advanced Meteor resources.</h3>
				<p>While the Meteor community is amazing and growing every day, it is still relatively new. Meaning there are only so many courses and tutorials available showing how to make more advanced Meteor applications.</p> 

				<p>Sure, you can head over to IRC with your questions. <strong>But oftentimes you only hear crickets in response.</strong> Posting to Stack Overflow can be a gamble, too&mdash;will someone be kind enough to follow-up? Is a true expert replying to your question?</p>

				<p>Another great feature of this course is that it's not heavily scripted. It's from live class. It's real. When learning any new framework or language, it’s easy to hit a wall. And sometimes give up before you ever really get started. As an added bonus, you get to see me think through problems live when I hit them.</p>
			</div>

			<div class="class-section -compact-bottom">
				<h3>Introducing Mastering Meteor.js!</h3>
				<p>I created the Mastering Meteor.js class to walk beginner and intermediate devs through the process of building a Meteor app from scratch. Mastering Meteor.js is a comprehensive, multi-session online course that takes you through the intricacies of building a Meteor.js app in just <strong>8 hours.</strong></p>

				<p>Follow along in a fishbowl style pairing session where you can listen and watch as I build a reactive Twitter clone. You’ll be able to ask questions directly using a comment system, directly on each video chapter page&mdash;myself and other students will help you.</p>

				<div class="well">
					<h4>You'll learn how to:</h4>
						<ul>
							<li>organize your files</li>
							<li>build database collections</li>
							<li>hook up publications and subscriptions</li>
							<li>handle accounts packages</li>
							<li>add permissions to data</li>
							<li>write reactive front-end code</li>
							<li>create advanced reactive join publications</li>
							<li>and more!</li>
						</ul>
				</div>
			</div>

			<div class="class-section">
				<h4><strong>Sample Chapter:</strong> Complex Joins</h4>
				<div class="embed-responsive embed-responsive-16by9">
	        <iframe width="700" height="395" src="https://www.youtube.com/embed/NxKQowTsikA?rel=0" frameborder="0" allowfullscreen=""></iframe>
	      </div>

	      <p>If you're tired of browsing the web for tutorials or reading through countless Stack Overflow posts to find the exact answer you need, then it's time to start mastering meteor.</p>

	      <div class="try-button-block">
					<a href="#" data-toggle="modal" data-target=".drip-modal" class="med-button try-button button">Try a free lesson!</a>
				</div>
			</div>

			<div class="class-section">
				<h3>Mastering Meteor, the good parts.</h3>
				<p>The defining feature of this course is that it's not heavily scripted. It was recorded from a live class. It's real. You get to see and hear my thought process as we work through features and encounter bugs. <strong>Just like real-life application development.</strong></p> 

				<div class="well">
					<h4>A few other things that make Mastering Meteor different:</h4>
					<ul>
						<li>We build a real app&mdash;a twitter clone&mdash;not some to-do list example.</li>
						<li>The class is over 8 hours of in-depth video instruction.</li>
						<li>The videos were recorded from a live class&mdash;you get to hear student questions.</li>
						<li>Learn at your own pace instead of waiting for a live class every 2 months.</li>
						<li>Get access to updated videos as I make them, the content will always be fresh and up to standards.</li>
						<li>The course comes with a money back guarantee&mdash;Not satisfied? Get your money back within 7 days.</li>
					</ul>
				</div>

				<p>My goal isn't just to teach you how to build one Meteor app. I want to give you the tools and know-how to build dozens of apps. <strong>This is your chance to gain practical real-world knowledge of Meteor.js.</strong></p>

				<div class="well">
					<h4>As a sign up bonus, you will receive:</h4>
					<ul>
						<li>Access to all the video chapters, via this website.</li>
						<li>Access to the Github repo that has the app we built in class.</li>
						<li>Access to leave comments for questions/help on any of the video chapters.</li>
					</ul>
				</div>

				<div class="buy-button-block">
					<a href="#" data-toggle="modal" data-target=".drip-modal" class="med-button buy-button button">Buy Now for $199</a>
					<a href="#" data-toggle="modal" data-target=".drip-modal" class="med-button try-button button">Try it for Free</a>
				</div>
			</div>
		</div>


		<!-- SIDEBAR -->
		<div class="class-sidebar col-sm-12 col-md-12 col-lg-4 col-xl-4">
			<%- partial("../partials/_toc", {
				tocList: [
					'File Structure',
					'Iron Router',
					'Meteor User Accounts',
					'Meteor Collections & Blaze',
					'Methods, Indexing Mongo, & Deeper Features',
					'Building Reusable Templates',
					'Tracking UI State with Blaze',
					'Advanced Meteor Publications',
					'Adding a Meteor Autocomplete Package',
					'Meteor Server Processing',
					'Adding Cordova to Meteor',
					'Separating Mobile & Desktop Views',
					'Using Kadira & Meteor',
					'Deploying Meteor',
					'Autoform & File Uploads for Meteor',
					'Meteor Package Discussions'
				]
			}) %>

			<%- partial("../partials/_teacher", {
				name: "Josh Owens",
				imageURL: "/static/images/josh.jpg",
				twitterHandle: "@joshowens",
				twitterURL: "http://twitter.com/joshowens",
				about: "I'm the proprietor of Crater.io, host of Crater Podcast, and open source czar that helped create over 10 Meteor packages and 40 apps in 12 months. When I'm not writing, podcasting, or teaching then you can find me running the Cincinnati Meteor meetup or helping people out over Airpair."
			}) %>
		</div>
	</div>
</div>