<div class="page-title">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">
				<h1>Mastering Meteor</h1>
				<h2>Learn how to lorem ipsum dolor sit amet.</h2>
			</div>
			<div class="col-md-4 text-center">
				<a href="#" class="primary button">Buy the Class</a>
			</div>
		</div>
	</div>
</div>