.page-title {
	padding: 7rem 0 3rem;
	background-color: #0D112A;
	background-image: url('/static/images/space/space4.jpg');
	margin-bottom: 3rem;
	background-size: 400%;
  background-position: 50% 0%;

	.about > h1.main {
		margin: 0 0 .25rem 0;
		color: #fff;
		font-size: 2rem;
	}

	.about > h2.sub {
		font-family: $slab;
		font-weight: 400;
		opacity: .6;
		color: #fff;
		font-size: 1.5rem;
		margin-bottom: 2rem;
	}

	@media handheld, screen and (min-width: 768px) {
		.about > h1.main { font-size: 2.875rem; }
		.about > h2.sub { font-size: 2rem; }
		padding: 12rem 0 5rem;
		background-position: 50% 100%;
		background-attachment: fixed;
		background-size: cover;
	}

	@media handheld, screen and (min-width: 992px) {
		margin-bottom: 6rem;
		min-height: 350px;
		padding: 12rem 0 7rem;
		.about > h2.sub { margin-bottom: 0; }
	}

	.button {
		font-size: 1rem;
		position: relative;
		text-align: center;
		width: 100%;
		margin-bottom: 1rem;

		@media handheld, screen and (min-width: 768px) {
			display: inline-block;
			min-width: 207px;
			font-size: .9rem;

			&.buy-button {
				width: 100%;
				margin-right: .5rem;
			}
		}
		@media handheld, screen and (min-width: 992px) {
			font-size: .9rem;
			display: block;
			width: 90%;
			margin: 0 auto 0;
			margin-bottom: .5rem;

			&.buy-button {
				width: 90%;
				margin-right: auto;
			}
		}
		@media handheld, screen and (min-width: 1200px) {
			font-size: 1rem;
		}
	}
}

.inline-badge {
	font-weight: 800;
	text-transform: uppercase;
	display: inline-block;
	font-size: .75rem;
	color: #4d4e78;
	background-color: lighten(#b6b9d6, 17%);
  padding: 3px 6px;
	margin: 0 0 0 2px;
	border-radius: 2px;
}

.dojo-card {
	padding: 1.6rem 1.65rem 1.2rem;
	
	h3.name {
		font-size: 1.6rem;
		margin-bottom: .2rem;
		line-height: 1.2;
		color: #333;
	}

	p.about {
		font-size: .9rem;
		margin-bottom: 1rem;
	}

	span.type {
		font-size: .9rem;
		display: block;
		font-family: $slab;
		padding-bottom: .7rem;
		margin-bottom: .7rem;
		border-bottom: 2px solid #eee;
		color: rgba(0,0,0,.5);
	}

	&:hover { 
		border-color: #C9A7DD;
	}
}

.card-anchor {
	text-decoration: none !important;
	&:hover { text-decoration: none !important; }
}

.email-subscribe {
	padding: 45px 0 40px; 
  background-color: #eee;
  text-align: center;

  h2.headline {
  	font-weight: 300;
  	color: darken(#6B519E, 20%);
  	margin-bottom: 1.3rem;
  }

  h2.headline strong {
  	font-weight: 500;
  }

  input.form-control, button.btn-submit {
  	height: 50px;
  	box-shadow: none;
  	border: 1px solid white;
  	font-size: 1rem;
  	font-weight: 400;
  	margin-bottom: 1rem;

  	&:focus {
  		border: 1px solid #6b539c;
  		outline: none;
  	}
  }

  input.form-control {
  	padding-left: 18px;
  }

  button.btn-submit {
  	background-color: #6b539c;
  	border: 1px solid #6b539c;
  	color: white;
  	font-weight: 600;

  	&:focus {
  		border: 1px solid darken(#6b539c, 25%);
  	}
  }
}