/* CLASS PAGE TITLES */
.class-title {
	@extend .page-title;
	background-image: url('/static/images/space/space6.jpg');

	.try-button {
		background: none;
		border: 1px solid rgba(255,255,255,.3);
		color: lighten(#b6b9d6, 10%);

		&:hover {
			background: none;
			border: 1px solid lighten(#6b539c, 4%);
		}
	}

	.incl-price > .text {
		display: block;
		width: 68%;
	}

	.incl-price > .price {
		position: absolute;
		top: 0;
		right: 0;
		background: darken(#6b539c, 4%);
		padding: 16px 22px;
		width: 28%;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	.cta {
		@media handheld, screen and (min-width: 992px) {
			padding-left: 25px;
			text-align: center;
		}
		
		.info { 
			margin-bottom: 10px; 
			font-size: .8rem;
			opacity: .75;
			color: lighten(#b6b9d6, 10%);
		}

		&.-one-button {
			padding-top: 25px;
		}
	}
}


/* Content sections for class/service pages */
.class-section {
	margin: 0 0 2rem 0;

	&.-compact-bottom { 
		margin: 0 1.15rem 3.5rem 0; 
	}

	@media handheld, screen and (min-width: 992px) {
		margin: 0 1.15rem 5rem 0;
		&:last-child {
			margin-bottom: 10rem;
		}
	}

	.try-button-block, .buy-button-block {
		text-align: center;
	}

	.try-button-block .try-button {
		@extend .green-button;
	}

	.buy-button-block .buy-button {
		@extend .green-button;
	}
	.buy-button-block .try-button {
		@extend .minimal-button;
	}

	.media-row {
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		border-bottom: 1px solid #ddd;
	}

	.media-object {
		width: 50%;
		margin: 0 auto 1rem;

		@media handheld, screen and (min-width: 768px) {
			width: 100%;
		}
	}

	.well { border-color: lighten(#6B519E, 35%); }
	.well > h4 {
		color: lighten(#6B519E, 5%);
	}
}


/* Purchase Tiers */
.purchase-tiers {
	margin-top: 4rem;

	.option {
		border: 2px solid darken(#6B519E, 7%);
		padding: 0 0 15px;
		text-align: center;
		position: relative;
		min-height: 370px;
		margin-bottom: 1rem;
		border-radius: 5px;
		
		&:first-child { 
			h4.name { color: darken(#A8A2D0, 12%); }
			span.price { background: darken(#A8A2D0, 12%); }

			.tier { border-top-left-radius: 5px; }
		}
		&:last-child { 
			.tier { border-top-right-radius: 5px; }
		}
		
		&.-preferred {
			h4.name { color: darken(#A99CCD, 16%); }
			span.price { background: darken(#A99CCD, 16%); }
			overflow: hidden;
		}

		.tier {
			background-color: #f4f4f4;
			padding: 26px 0 4px;
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
		}

		h4.name {
			font-size: 2rem;
			font-weight: 600;
			margin: .65rem 0 0;
			padding: 0;
			line-height: 1;
			color: darken(#6B519E, 5%);
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
		}
		
		span.price {
			background: #6B519E;
			color: white;
			padding: 9px 15px;
			font-size: 1.75rem;
			border-radius: 3px;
			margin-top: .5rem;
			display: inline-block;
			width: 88%;
			font-weight: 500;
			font-family: $slab;

			small {
				font-size: 1.25rem;
				opacity: .75;
				letter-spacing: .03rem;
			}
		}

		span.sign-up {
			margin-top: 1.5rem;
			display: inline-block;
			font-family: $sans-serif;
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: .02rem;
			opacity: .5;
		}

		span.preferred {
			font-family: $sans-serif;
			background: #A3B6DE;
			transform: rotate(-45deg);
			color: white;
			position: absolute;
			font-weight: 600;
			text-transform: uppercase;
			font-size: .8rem;
			letter-spacing: .03rem;
			margin: 0 auto;
			top: 24px;
			left: -25%;
			width: 75%;
			padding: 4px 0;
		}
		.icon-preferred, .icon-cup {
			margin: 0 auto;
			position: relative;
			top: 3px;
			right: 4px;
			font-size: 1.15rem;
		}
	}

	.option:hover {
		cursor: pointer;
		h4.name { color: darken(#A682BA, 12%); }
		span.price { background: darken(#A682BA, 12%); }
	}

	.option .included-list {
		list-style-type: none;
		margin: 0;
		font-family: $slab;

		li {
			padding: 8px 0px;
			margin: 0 15px;
			// font-size: 0.8rem;
			line-height: 1.4;
		  border-bottom: 1px solid #eee;
		}

		li:last-child {
			border: none;
		}

		li.deselected {
			color: #ccc;
			text-decoration: line-through;
		}

		li.title {
			font-weight: 400;
			border: none;
			font-family: $sans-serif;
			font-size: .9rem;
			line-height: 1.2;
			opacity: .7;
			padding: 0 6px 25px;
			margin: 0 0 15px;
			background: #f4f4f4;
		}
	}

	@media handheld, screen and (min-width: 768px) {
		.option span.preferred {
			top: 24px;
			left: -40px;
			width: 75%;
		}

		.option {
			border-radius: 0;
			&:first-child { 
				border-right: none; 
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;

				.tier { border-top-left-radius: 5px; }
			}
			&:last-child { 
				border-left: none; 
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;

				.tier { border-top-right-radius: 5px; }
			}
		}
	}

	// everything over 992px (medium screens)
	@media handheld, screen and (min-width: 992px) {
		.option span.preferred {
			top: 20px;
			left: -40px;
			width: 75%;
		}
	}
	@media handheld, screen and (min-width: 1200px) {
		.option .included-list li {
			padding: 8px 12px;
			font-size: .9rem;

			&.title {
				padding: 0 20px 25px;
				font-size: 1rem;
			}
		}

		.option span.preferred {
			top: 24px;
			left: -50px;
			width: 75%;
		}
	}
}

/* Class Sidebar */
.class-sidebar {
	margin-bottom: 5rem;
	@media handheld, screen and (min-width: 992px) {
		padding-left: 25px;
	}
}

/* INFO-SECTIONS FOR SIDEBARS */
.class-information, .service-information {
	margin: 0 0 1.5rem 0;
	padding: 15px 28px;
	background: #f4f4f4;
	border-radius: 3px;
	
	.toc {
		list-style-type: none;
		margin: 0;
		padding: 0;
		font-family: $slab;
	}

	p {
		font-size: .9rem;
		margin-bottom: 1.3rem;
	}

	.title {
		@extend .toc;
		font-weight: 800;
		display: block;
		text-transform: capitalize;
		border-bottom: 2px solid #ddd;
		padding-bottom: .3rem;
		margin: .5rem 0 1.3rem 0;
		font-size: 1rem;
	}

	.toc > li {
		font-size: 0.9rem;
		margin-bottom: 1.1rem;
		line-height: 1.4;
	}

	.toc > li .sample {
		@extend .inline-badge;
	}

	ul.whats-included {
		margin: 20px 0 0 20px;
		padding: 0;
		font-size: .9rem;

		strong { 
			display: block; 
			line-height: 1.2; 
			margin-bottom: .2rem;
		}

		li { 
			margin-bottom: 1rem; 
			&:last-child { margin-bottom: 0; }
		}
	}
}


/* ABOUT THE TEACHER 
   Box with Name, Twitter, and Paragraph */
.about-teacher {
	margin: 30px 0 0 0;
	font-size: 0.75rem;

	.info {
		display: block;
		clear: both;
	}

	.info > .name {
		font-size: 1.25rem;
		font-weight: 800;
		font-family: $slab;
	}

	.info > .twitter {
		display: block;
		font-size: .875rem;
		margin: 0 0 1rem 0;
	}

	.info > .teacher {
		width: 68px;
		height: 68px;
		float: right;
		margin: 0 0 10px 10px;
		border-radius: 50px;
	}

	.about {
		font-size: .9rem;
		line-height: 1.6;
		display: block;
	}
}

/* DRIP FORM
   Modal styles */

.drip-modal {
	border-radius: 2px !important;
	.modal-header {
		margin: 0;
		padding: 0;
		border: 0;
	}
	h3.drip-headline {
		line-height: 1.1;
		margin-bottom: 1.75rem;
		text-align: center;
	}
	input {
		margin-bottom: 1rem;
	}
	input[type=text], input[type=email] {
		padding: 13px 14px 12px;
		font-size: .9rem;
		height: 45px !important;
	}
	input[type=submit] {
		@extend a.button;
		@extend a.small-button;
		display: block;
		box-shadow: none;
		border: none;
		width: 100%;
	}
}

/* CLASS CARDS
   Box with class information for /classes page */
.class-cards {
	margin-bottom: 5rem;
}
.class-card {
	@extend .dojo-card;

	.tags {
		position: relative;
	}

	.tags > .inline-badge {
		text-transform: capitalize;
		padding: 4px 9px;
		margin: 0 0 .45rem 0;
	}
}


/* SERVICES CARDS
   Box with services information */
.services-cards {
	margin-bottom: 5rem;
}
.services-card {
	@extend .dojo-card;
}

