.navbar, .navbar-default {
  height: 70px;
  padding-top: 6px;
  z-index: 1 !important;

  // everything over 768px (tablet screens)
  @media handheld, screen and (min-width: 768px) {
    height: 90px;
  }
}

.navbar {
  background: #0D112A;
  font-family: $sans-serif;
  text-transform: lowercase;
  font-weight: 700;
  border-radius: 0;
  margin-bottom: 0;
  border: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  .navbar-toggle { 
    top: 5px; 
    border: none;
  }

  /* BRAND // Primary styles */
  .navbar-brand {
    padding: 0;
    margin: 10px 0 10px;
    height: 35px;
  }

  .navbar-brand .logo {
    height: 90%;
  }

  /* BRAND // For bigger screens */
  @media screen and (min-width: 768px) {
    background: transparent;
    .navbar-brand {
      margin: 20px 0 0;
    }
    .navbar-brand .logo {
      height: 100%;
      margin-left: 1.8rem;
    }
  }

  /* LIST ITEMS */
  li {
    margin: 3px 0;
  }
  li a {
    padding: 8px 20px;
    border-radius: 20px;
    margin: 22px 8px 34px;
    font-size: 14px;
  }

  .nav li a {
    color: rgba(255,255,255,.9); 
  }
  .nav li a:last-child {
    margin-right: 15px;
  }

  .nav li a:hover {
    background: rgba(255,255,255,.1);
    color: rgba(255,255,255,.9); 
  }
}

/* COLLAPSABLE */
.navbar-collapse {
  border: none;
  z-index: 9999999999;

  .nav {
    background: #0D112A;
    border: none;
    margin-top: 0;
    padding: 0;
  }
  .nav a {
    margin: 0 0 10px 0;
  }

  // mobile specific
  @media screen and (max-width: 768px) {
    .nav { 
      height: 80vh; 
      width: 100vw;
      padding-top: 2rem;
    }

    .nav a {
      font-size: 1.75rem;
      font-weight: 300;
      margin-bottom: 1.5rem;
    }
  }

  // tablet and larger
  @media screen and (min-width: 768px) {
    display: block;
    .nav {
      background: transparent;
      margin-top: 20px;
    }
  }
}

.navbar-transparent {
  background: #0D112A;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  @media handheld, screen and (min-width: 768px) {
    background: transparent;
    &::after {
      border-bottom: 2px solid rgba(215,199,224,.1);
      width: 94%;
      margin: .6rem auto 0;
    }
  }
}

.navbar-transparent .nav {
  li a { 
    color: rgba(255,255,255,.9); 
  }

  li a:hover {
    background: rgba(255,255,255,.1);
    color: rgba(255,255,255,.9); 
  }
}
